._1{
    background-color:rgb(255, 255, 0);
    }
    ._2{
    background-color:grey;
    }
    ._3{
    background-color:orange;
    }
    ._4{
    background-color:lightblue;
    }
    ._5{
    background-color:lightblue;
    }
    ._6{
    background-color:rgb(132, 235, 132);
    }
    ._7{
    background-color:rgb(228, 189, 130);
    }
    ._8{
    
    background-color:rgb(133, 82, 146);
    }
    ._9{
    background-color:rgb(125, 122, 160);
    }
    ._10{
    background-color:rgb(230, 220, 173);
    }
