.pocetnaStrana{  
     height: 100%;
}


.slika{
    background-image: url('../img/formulaBlured.jpg');
    height: 100%;
    filter: blur(8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sadrzaj{
   
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 10%;
    left: 57%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    padding: 10px;
    text-align: center;
    border-radius: 19px 0 19px 0;
    box-shadow: 5px 10px  rgba(0, 0, 0, 0.2);
    text-transform: uppercase;

     
}


.izbor{
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    border: 1px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 57%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    padding: 10px;
    text-align: center;
    border-radius: 19px 0 19px 0;
    box-shadow: 5px 10px  rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
            
}
input[type="number"]{
    outline: 0;
    width: 25%;
    height: 25px;
    border: 2px solid;
    border-radius: 5px;
    border-image-source: linear-gradient(45deg,  red,#545454,#ffffff);
    border-image-slice: 1;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance:textfield;
}
.pretraziIkonica{
    margin-left: 10px;

}
h1{
    font-family: 'Audiowide';
    background:linear-gradient(to right, red,#545454,#ffffff );
    /* background-clip:text; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
select option { color: black; }
select option:first-child { color: grey; }
select.empty { color: grey; }
/* Hidden placeholder */
select option[disabled]:first-child { display: none; }


@media screen and (max-width:980px) {
    .izbor{
        margin-left: 5%;
        margin-top: 10%;
    }
    .sadrzaj{
        margin-top: 10%;
        margin-left: 5%;
    }
}