h2{
    color: white;
    padding: 2%;
    font-family: 'Audiowide';
}
.mainDetalji{
    display: flex;
    width: 100%;
    height:100%;
}
.main{
    height: 100%;
}
.vozac{
    width:200px;
}
.zastavaIme{
    display: flex;
}
.zastavaIme >img{
    width:100px;
    height:100px;
}
.OVozacu{
    color: white;
    background-color: #30323b;
    height: 100%;
}
.info{
    display: flex;
}
.biografija{
    padding-left: 10px;
}
.biografija a{
    color: white;
}
.biografija a:visited{
    color: white;
}
.ime{
    margin: 0px;
}

@media screen and (max-width:980px) {
    .OVozacu{
        width:10%;
        height: 65%;    
    }
    .zastavaIme{
        display: block;
    }
    .info{
        display: none;
    }
    .zastavaIme>img{
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .mainDetalji{
        display: block;
    }
    .info{
        display: flex;
        padding-left:10%;
    }
    .OVozacu{
        width: 100%;
        height: 20%;
        display: flex;
    }
    .vozac{
        display: flex;
    }
    .datumRodjenja{
        width: 100px;
    }
  }
@media (min-width: 320px) and (max-width: 480px) {
    .mainDetalji{
        display: block;
    }
    .info{
        display: flex;
        padding-left:10%;
    }
    .datumRodjenja{
        width: 100px;
    }
    .OVozacu{
        width: 100%;
        height: 21%;
        display: flex;
        
    }
    .vozac{
        display: flex;
        width: 50px;
       
    }

    .ram{
        background-image: url('../img/formulaBlured.jpg');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
  }
