/* sidebar */
.activeRoute {
    background: #30323b;
}
.link{
    display: block;
    text-decoration: none;
}
h3{
    color: white;
    font-family: 'Audiowide';
}
  .sidebar {
    /* width: 15%; */
    height:100%;
    background-color: #5d6475;
    display: flex; 
}
.ram{
    width: 100%;
    background-color: #8c93a3;
    min-height: 789px;
    overflow: hidden;
    border-left:1px solid black;  
}
.slika_logoa{
    width:216px;
}
.ikonice{
    width: 75px;   
}
.helmet{
    position: relative;
    top: -5px;
    margin-right: 10px;
}
.navigacija{
    display: flex;
    border: 1px solid black;
    border-right: none;
}
li{
    list-style: none;
}
ul{
    padding: 0;
    margin-top: -4px;
}

@media screen and (max-width: 1280px){
    .sidebar{
        width: 200px;
    }
    .navigacija{
        width: 200px;
    }
    .slika_logoa{
        width:200px;
    }
}

@media screen and (max-width:980px) {
    .sidebar{
        width: 100px;
    }
    .navigacija{
        width: 100px;
    }
    .slika_logoa{
        width:100px;
    }
    .ikonice {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 480px) {

  }